body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #e83e8c;
}


pre {
  background: #292c2e;
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  display: none;
}

pre code {
  color: #e8e6e3;
}

img {
  max-width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width: 600px) {
  #topbar {
    height: auto;
    padding: 10px 0;
    flex-direction: column;
  }
}